<div id="buscadores">
    <h6 id="titulos">Municipios</h6>

    <mat-form-field id="buscador">
        <mat-label>Municipios</mat-label>
        <input type="text"
        matInput
        [(ngModel)]="valor" (input)="onChange()"/>
    </mat-form-field>
    <div>
        <div class="gasolinera-tabla ">
                @for (nombre of listaNombres; track $index) {
                    <div class="gasolinera-celda text-center m-3">
                        <div mat-fab extended (click)="onClick(nombre)">
                            {{nombre}}
                        </div>
                    </div>
                }
        </div>
    </div>
</div>