<div id="buscadores">
    <h6 id="titulos">Municipios</h6>

    <mat-form-field id="buscador">
        <mat-label>Municipios</mat-label>
        <input type="text"
        matInput
        [(ngModel)]="valor" (input)="onChange()"/>
    </mat-form-field>
    <div>
        <div class="gasolinera-tabla overflow-scroll">
                @for (nombre of listaNombres; track $index) {
                    <div class="gasolinera-celda text-center m-3">
                    <button mat-fab extended (click)="onClick(nombre)">
                        {{nombre}}
                    </button>
                    </div>
                }
        </div>
    </div>
</div>