<!--<div class="w-25">
    <table class="table table-stripped">
        <tbody>
            <tr>
                @if(gasolinera['Precio Gasoleo A'] != "")
                {
                    <td class="d-flex justify-content-between">
                        <span>Gasoleo A</span>
                        <span>{{gasolinera['Precio Gasoleo A']}}€</span>
                    </td>
                }
                @if(gasolinera['Precio Biodiesel'] != "")
                {
                    <td class="d-flex justify-content-between">
                        <span>Biodiesel</span>
                        <span>{{gasolinera['Precio Biodiesel']}}€</span>
                    </td>
                }
                @if(gasolinera['Precio Bioetanol'] != "")
                {
                    <td class="d-flex justify-content-between">
                        <span>Bioetanol</span>
                        <span>{{gasolinera['Precio Bioetanol']}}€</span>
                    </td>
                }
                @if(gasolinera['Precio Gas Natural Comprimido'] != "")
                {
                    <td class="d-flex justify-content-between">
                        <span>Gas Natural Comprimido</span>
                        <span>{{gasolinera['Precio Gas Natural Comprimido']}}€</span>
                    </td>
                }
                @if(gasolinera['Precio Gas Natural Licuado'] != "")
                {
                    <td class="d-flex justify-content-between">
                        <span>Gas Natural Licuado</span>
                        <span>{{gasolinera['Precio Gas Natural Licuado']}}€</span>
                    </td>
                }
                @if(gasolinera['Precio Gasoleo B'] != "")
                {
                    <td class="d-flex justify-content-between">
                        <span>Gasoleo B</span>
                        <span>{{gasolinera['Precio Gasoleo B']}}€</span>
                    </td>
                }
                @if(gasolinera['Precio Gasoleo Premium'] != "")
                {
                    <td class="d-flex justify-content-between">
                        <span>Gasoleo Premium</span>
                        <span>{{gasolinera['Precio Gasoleo Premium']}}€</span>
                    </td>
                }
                @if(gasolinera['Precio Gasolina 95 E10'] != "")
                {
                    <td class="d-flex justify-content-between">
                        <span>Gasolina 95 E10</span>
                        <span>{{gasolinera['Precio Gasolina 95 E10']}}€</span>
                    </td>
                }
                @if(gasolinera['Precio Gasolina 95 E5'] != "")
                {
                    <td class="d-flex justify-content-between">
                        <span>Gasolina 95 E5</span>
                        <span>{{gasolinera['Precio Gasolina 95 E5']}}€</span>
                    </td>
                }
                @if(gasolinera['Precio Gasolina 95 E5 Premium'] != "")
                {
                    <td class="d-flex justify-content-between">
                        <span>Gasolina 95 E5 Premium</span>
                        <span>{{gasolinera['Precio Gasolina 95 E5 Premium']}}€</span>
                    </td>
                }
                @if(gasolinera['Precio Gasolina 98 E10'] != "")
                {
                    <td class="d-flex justify-content-between">
                        <span>Gasolina 98 E10</span>
                        <span>{{gasolinera['Precio Gasolina 98 E10']}}€</span>
                    </td>
                }
                @if(gasolinera['Precio Gasolina 98 E5'] != "")
                {
                    <td class="d-flex justify-content-between">
                        <span>Gasolina 98 E5</span>
                        <span>{{gasolinera['Precio Gasolina 98 E5']}}€</span>
                    </td>
                }
                @if(gasolinera['Precio Hidrogeno'] != "")
                {
                    <td class="d-flex justify-content-between">
                        <span>Hidrogeno</span>
                        <span>{{gasolinera['Precio Hidrogeno']}}€</span>
                    </td>
                }
            </tr>
        </tbody>
    </table>
</div>-->